node_modules
.next
.env.local
.git
.gitignore
npm-debug.log
yarn-debug.log*
yarn-error.log*
.DS_Store
.env
.env.*
!.env.example
.vscode
.idea
*.swp
.eslintcache
README.md
.editorconfig
Makefile
.husky
coverage/
.cache/
out/
